<li class="flex items-center justify-between w-[214px] text-[24px] px-4 py-3 hover:bg-customhover rounded-md my-[10px] cursor-pointer"
    (click)="this.themeService.changeTheme(theme.class)"
    [ngClass]="{'bg-customhover': themeService.getTheme() === theme.class}">
    <p class="text-fcolor">{{theme.name}}</p>
    <div class="flex flex-row gap-2">
        <span class="block w-[20px] h-[20px] rounded-full" [style]="'background-color: ' + theme.bg + ';'"></span>
        <span class="block w-[20px] h-[20px] rounded-full" [style]="'background-color: ' + theme.primary + ';'"></span>
        <span class="block w-[20px] h-[20px] rounded-full"
            [style]="'background-color: ' + theme.secondary + ';'"></span>
    </div>
</li>